.CardParent {
  background-color: white;
  min-height: 200px;
  border-radius: 15px;

  margin-bottom: 20px;
  width: 75%;
}

.imgCard {
  height: 210px;
  width: 100%;
  padding: 3px;
  border-radius: 10% 3% 10% 3%;
}

.CardPrice {
  font-size: 30px;
  color: #2e6bff;
}
.NoResultDiv {
  text-align: center;
}
.CartBotomDiv {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.CardSliderDesc {
  position: relative;
}
hr {
  width: 90%;
}
.CardParent:hover {
  box-shadow: 0 0 11px rgba(115, 96, 223, 0.575);
  cursor: auto;
}

.fa-heart {
  float: right;
  margin-top: 5px;
  font-size: initial;
  color: red;
}
.fa-heart:hover {
  cursor: pointer;
  color: coral !important;
}

@media only screen and (max-width: 992px) {
  .CardPrice {
    margin-bottom: 15px;
  }

  hr,
  .CardDesc {
    display: none;
  }
}
