.bannerheader {
  background-color: #f4f4f4;
  min-height: 120px;
  vertical-align: middle;
  text-align: center;
   
  background-position: center;
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.bannerheader .royaume {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: blue;
}
.bannerheader .sloagn {
  padding-top: 16px;
}
.bannerheader .logo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.vertical-center {
  margin-right: 0% !important;
  margin-left: 5% !important;
}
