.Navbar {
  background-color: white;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.Navbar .leftSide .Links {
  max-height: 80px;
}
.Navbar .leftSide button {
  display: none;
  margin-left: 15px;
}

.Navbar .leftSide #hidden {
  display: flex;
  margin-left: 15px;
}

.Navbar .leftSide .Links a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 15px;
  cursor: pointer;
}

.Navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.Navbar .rightSide .loginbtn {
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
  width: 150px;
  height: 50%;
  font-size: larger;
  font-family: ui-rounded;
}
.usernamebtn {
  width: 150px;
  height: 40px;
}
.rightSide button {
  font-size: 16px;
}

.menuimg {
  height: 63px;
  padding-left: 9px;
}

.dropdown-item:hover {
  font-weight: bold;
}

.TabHeart {
  float: left !important;
  margin-right: 5px !important;
  font-size: 17px !important;
  color: blueviolet !important;
}
.fa-user-cog {
  margin-right: 5px !important;
  margin-left: 5px !important;
  font-size: 17px !important;
  color: blueviolet !important;
}
.dropdown-menu {
  width: 225px !important;
}
@media only screen and (max-width: 850px) {
  .Navbar .leftSide .Links a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 525px) {
  .Navbar .leftSide button {
    display: flex;
  }

  .Navbar .leftSide .Links {
    display: none;
  }
}
