.container-fluid {
  margin: 20px 0px 20px 0px;
}

.inline {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.selectedType {
  border-bottom: 2px solid blue;
}

a {
  text-decoration: none !important;
}

.form-container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}
