.MarqueParent {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 2px 4px 2px #888888;
  margin-bottom: 5px;
}

img {
  width: 150px;
  height: 150px;
}

.MarqueCart {
  width: 150px;
  margin: 10px;
  text-align: center;
}

.MarqueRow {
  margin-left: 31px;
}
