.SearchComponentParent {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 11px rgba(136, 129, 177, 0.575);
}

.SearchDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.SearchBtn {
  width: 250px;
}

.SearchComponentParent .SearchComponentCont select {
  width: 100%;
  margin: 5px;
}
