.SliderParent {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 11px rgba(115, 96, 223, 0.575);
  margin-bottom: 5px;
}

.MarqueImg {
  width: 150px;
  height: 150px;
}

.SliderCart {
  width: 150px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  font-size: x-large;
  font-style: italic;
  font-weight: initial;
}

.SliderRow {
  margin-left: 31px;
}

.Citycart {
  padding: 20px 0;
  border: 2px solid green;
  text-align: center;
  cursor: pointer;
}

.Citycart:hover {
  border-radius: 1px;
  box-shadow: 0 0 11px rgba(115, 96, 223, 0.575);
}

.MarqueSlider :hover {
  box-shadow: 0 0 11px rgba(115, 96, 223, 0.575);
}

.FpSliderImg {
  width: auto !important;
}

.FpImg {
  width: 614px;
  height: 386px;
}

.swiper-button-next {
  right: 110px !important;
}
.swiper-button-prev {
  left: 110px !important;
}
