.StoreComponentParent {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 60px;
  box-shadow: 0 0 11px rgba(136, 129, 177, 0.575);
  width: 300px;
  height: 300px;
  margin-right: 20px;
  text-align: center;
}

.StoreImg {
  border-radius: 50% 50% 50% 50%;
  margin-bottom: 5px;
  margin-left: 5%;
  width: 90%;
}
.StoreElement {
  margin: 5px;
  margin-bottom: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: aquamarine;
  background-color: azure;
}
.StoreElement span {
  margin-left: 10px;
}
.StoreElement i {
  color: yellowgreen;
  float: left;
  position: relative;
  bottom: -5px;
  left: 7px;
  font-size: larger;
}
.storeName span {
  padding: 3px;
  font-size: larger;
  font-weight: bold;
}

.StoreTel span {
  font-size: larger;
  font-weight: bold;
}

.StoreLocalisation span {
  font-size: larger;
  font-weight: bold;
}

.StoreImgparent {
  margin: -60px 25px 10px 25px;
}
.StoreLink a {
  font-size: larger;
  font-weight: bold;
}
.StoreLink {
  background-color: yellowgreen;
}
.StoreLink:hover {
  box-shadow: 0 0 11px rgba(115, 96, 223, 0.575);
  cursor: pointer;
}
